body {
	font-family: "Helvetica Neue", Helvetica, Arial
}

h1 {
	font-size: 4.5em;
	margin-bottom: 0.3em;
}

#pic {
	width: 150px;
}

.flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	/*height: calc(100% - 250px);*/
}
.flex-item{
	flex: 1;
	text-align: center;
	padding: 20;
}

#first{
	background-color: #2196f3;
}
#second{
	background-color: #ffff00;
}
#third{
	background-color: #FF3F05;
}	

/* Custom, iPhone Retina */ 
@media (max-width : 320px) {

}
/* Extra Small Devices, Phones */ 
@media (max-width : 480px) {
	h1 {
		font-size: 3.5em;
		text-align: center;
	}
	#pic {
		display: block;
		margin: auto;
	}
}

/* Small Devices, Tablets */
@media (max-width : 768px) {
	.flex-container {
		flex-flow: column;
	}
}

/* Medium Devices, Desktops */
@media (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media (max-width : 1200px) {

}

